<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href={{url_for( 'static',filename='css/test.css' )}}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nav</title>
</head>

<body>
    <nav>
        <header>
            <span>
                <a href="{{url_for('home')}}">home</a>
            </span>
            <span>
                <a href="{{url_for('about')}}">away</a>
            </span>
        </header>
        <div class="content">{%block content%} {%endblock%}
        </div>
    </nav>
</body>

</html>